travelOnTip-experienceAPI/src/main/mule/retrive-routesandschedules-experience.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="retrive-routesandschedules-experience-main">
        <http:listener config-ref="retrive-routesandschedules-experience-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrive-routesandschedules-experience-config" />
        <error-handler ref="errorHandlerError_Handler" />
    </flow>
    <sub-flow name="retrive-routesandschedules-experienceSub_Flow" doc:id="0632ea14-b5ff-48bc-9d2e-abaa0881b380">
        <ee:transform doc:name="getting header attributes" doc:id="cc1920fd-51a9-4321-8d54-3ecd0a0c7f32">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
                <ee:set-variable variableName="transportType"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.'transportType']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.'companyName']]></ee:set-variable>
                <ee:set-variable variableName="departureLocation"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.'departureLocation']]></ee:set-variable>
                <ee:set-variable variableName="destinationLocation"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.'destinationLocation']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>
    <flow name="get:\booking\(transportType)\routes:retrive-routesandschedules-experience-config">
        <flow-ref doc:name="Flow Reference" doc:id="8f36f9af-f2d3-4985-a52d-583761aefcb6" name="retrive-routesandschedules-experienceSub_Flow" />
        <logger level="INFO" doc:name="Before Impl flow" doc:id="597b0ee5-a928-49f5-8a19-29e8f2f297fa" message="Before request for travel on tip for transaction id #[vars.transactionId]" />
        <flow-ref doc:name="Calling Impl flow" doc:id="638b0045-6e1b-42fd-865c-e52c66085748" name="travelOnTrip-Routes-ImplSub_Flow" />
        <logger level="INFO" doc:name="After Impl flow" doc:id="2d07060d-108a-4570-90b1-2954be2e6d7c" message="After request for travel on tip for transaction id #[vars.transactionId]" />
    </flow>
    <flow name="get:\booking\(transportType)\schedules:retrive-routesandschedules-experience-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="transportType">attributes.uriParams.'transportType'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\booking\(transportType)\schedules:retrive-routesandschedules-experience-config" />
    </flow>
</mule>
